<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div>
        <br>
        <input type="text" ng-model="username" placeholder="Username"/><br><br>
        <input type="password" ng-model="password" placeholder="Password"/><br><br>

        <button class="btn btn-success" ng-click="home(username, password)">Login</button>
    </div>

    <div>
        <a href="#/register">Registrar</a>
    </div>
    
</body>
</html>